<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add permissions for reading and writing to external storage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- For Android 10 and above, include the following permission to manage legacy storage access -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.F"
        tools:targetApi="31">
        <activity
            android:name=".StartCourseActivity"
            android:exported="false" />
        <activity
            android:name=".tut"
            android:exported="false" /> <!-- Set fp as the launcher activity -->
        <activity
            android:name=".fp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".hp"
            android:exported="false" />
        <activity
            android:name=".fp2"
            android:exported="false" />
        <activity
            android:name=".CoachListActivity"
            android:exported="false" />
        <activity
            android:name=".EnrollmentConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".tut"
            android:exported="false"
            tools:ignore="DuplicateActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" /> <!-- Ensure this file exists -->
        </provider>
    </application>

</manifest>